@page
@using Torneo.App.Dominio
@model Torneo.App.Frontend.Pages.Posiciones.CreateModel
@{
}
<h1>Nueva Posicion</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="posicion.nombre"></label>
        <input asp-for="posicion.nombre" class="form-control">
        <span asp-validation-for="posicion.nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear posicion</button>
</form>
<a asp-page="./Index" class="btn btn-secondary">Volver</a>