@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}
<h1>Listado Posiciones</h1>
<a class="btn btn-primary" style="background:blue" asp-page="./Create">Nueva Posicion</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var posicion in Model.posiciones)
      {
        <tr>
            <td>@posicion.nombre</td>
            <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@posicion.id">Detalle</a>
                <a class="btn btn-secondary" style="background:red" asp-page="./Edit" asp-route-id="@posicion.id">Editar</a>
                
            </td>
        </tr>
      }
  </tbody>
</table> 