@page
@model Torneo.App.Frontend.Pages.Municipios.IndexModel
@{
}
<h1>Listado Municipios</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo municipio</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var municipio in Model.municipios)
      {
        <tr>
            <th>@municipio.nombre</th>
            <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@municipio.id">Detalle</a>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@municipio.id">Editar</a>
            </td>
        </tr>
      }
  </tbody>
</table> 