@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido al Torneo de Fútbol Departamental!</h1>
    <p>Esta aplicación web permite la gestión del torneo de fútbol</a>.</p>
</div>
